In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
kickstarter = pd.read_csv("https://raw.githubusercontent.com/shstreuber/Data-Mining/master/data/kickstarter-projects-201518.csv", encoding="ISO-8859-1") 
kickstarter.dropna(inplace=True)

In [2]:
kickstarter.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00

In [17]:
state_num=kickstarter.state

kickstarter['state_num'] = state_num

kickstarter.state_num

0             failed
1         successful
2           canceled
3           canceled
4             failed
             ...
191580          live
191581          live
191582          live
191583          live
191584          live
Name: state_num, Length: 188445, dtype: object

In [4]:
kickstarter['state_num']= kickstarter['state_num'].astype('category')

kickstarter['state_num']= kickstarter['state_num'].cat.codes

kickstarter.dtypes[['state','state_num']]

state        object
state_num      int8
dtype: object

In [18]:
country_num=kickstarter.country

kickstarter['country_num'] = country_num

kickstarter.country_num

0         US
1         GB
2         US
3         US
4         US
          ..
191580    FR
191581    GB
191582    US
191583    US
191584    GB
Name: country_num, Length: 188445, dtype: object

In [19]:
kickstarter['country_num']= kickstarter['country_num'].astype('category')

kickstarter['country_num']= kickstarter['country_num'].cat.codes

kickstarter.dtypes[['country','country_num']]

country        object
country_num      int8
dtype: object

In [20]:
category_num=kickstarter.category

kickstarter['category_num'] = category_num

kickstarter.category_num

0           Immersive
1               Drama
2          Public Art
3         Video Games
4             Apparel
             ...
191580           Apps
191581          Print
191582          Music
191583          Drama
191584           Apps
Name: category_num, Length: 188445, dtype: object

In [21]:
kickstarter['category_num']= kickstarter['category_num'].astype('category')

kickstarter['category_num']= kickstarter['category_num'].cat.codes

kickstarter.dtypes[['category','category_num']]

category        object
category_num     int16
dtype: object

1. Data Transformation.      
   Here in this data transformation we have alligned numbers to three different kind of variables so that the data can be arranged numerically and will be easy for the person to find the required data.

In [5]:
kickstarter2 = kickstarter
kickstarter2.currency.unique()

array(['USD', 'GBP', 'CAD', 'DKK', 'EUR', 'AUD', 'NOK', 'SEK', 'NZD',
       'CHF', 'SGD', 'HKD', 'MXN', 'JPY'], dtype=object)

In [7]:
kickstarter2[kickstarter2['currency'] == 'USD']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.0,1
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.0,0
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.0,0
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.0,1
5,1049624554,A Bicycle Built for Two Billion: A Memoir & Fa...,Nonfiction,Publishing,USD,1/1/2015,8500,11/25/2014 6:52,10371.00,successful,189,US,10371.00,10371.00,8500.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191575,1365286494,From the Wilderness,Drama,Film & Video,USD,3/2/2018,2500,1/1/2018 2:30,482.00,live,19,US,0.00,482.00,2500.0,2
191577,163404108,Investments For Marketing My Music Career,Hip-Hop,Music,USD,3/2/2018,10000,1/1/2018 14:15,0.00,live,0,US,0.00,0.00,10000.0,2
191579,396064457,Deaths of Athazar,Games,Games,USD,3/2/2018,15000,1/1/2018 13:27,1.00,live,1,US,1.00,1.00,15000.0,2
191582,1036415983,Aikyam : Onnu,Music,Music,USD,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.0,2
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,USD,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.0,2

In [9]:
kickstarter2.currency.replace('USD','dollar', inplace=True)

kickstarter2[kickstarter2['currency'] == 'USD']
kickstarter2.currency.unique()

array(['dollar', 'GBP', 'CAD', 'DKK', 'EUR', 'AUD', 'NOK', 'SEK', 'NZD',
       'CHF', 'SGD', 'HKD', 'MXN', 'JPY'], dtype=object)

In [22]:
kickstarter2 = kickstarter
kickstarter2.country.unique()

array(['US', 'GB', 'CA', 'DK', 'NL', 'AU', 'NO', 'SE', 'NZ', 'IE', 'DE',
       'FR', 'ES', 'AT', 'BE', 'IT', 'CH', 'LU', 'SG', 'HK', 'MX', 'JP'],
      dtype=object)

In [23]:
kickstarter2[kickstarter2['country'] == 'US']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,bins,buckets,country_num,category_num
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,dollar,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.0,failed,small,poor,21,71
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,dollar,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.0,canceled,small,poor,21,114
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,dollar,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.0,canceled,small,poor,21,148
4,1049544313,Balteus Belt,Apparel,Fashion,dollar,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.0,failed,small,poor,21,7
5,1049624554,A Bicycle Built for Two Billion: A Memoir & Fa...,Nonfiction,Publishing,dollar,1/1/2015,8500,11/25/2014 6:52,10371.00,successful,189,US,10371.00,10371.00,8500.0,successful,small,poor,21,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191575,1365286494,From the Wilderness,Drama,Film & Video,dollar,3/2/2018,2500,1/1/2018 2:30,482.00,live,19,US,0.00,482.00,2500.0,live,small,poor,21,40
191577,163404108,Investments For Marketing My Music Career,Hip-Hop,Music,dollar,3/2/2018,10000,1/1/2018 14:15,0.00,live,0,US,0.00,0.00,10000.0,live,small,poor,21,68
191579,396064457,Deaths of Athazar,Games,Games,dollar,3/2/2018,15000,1/1/2018 13:27,1.00,live,1,US,1.00,1.00,15000.0,live,small,poor,21,62
191582,1036415983,Aikyam : Onnu,Music,Music,dollar,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.0,live,small,poor,21,90
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,dollar,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.0,live,small,poor,21,40

In [24]:
kickstarter2.country.replace('US','united states', inplace=True)

kickstarter2[kickstarter2['country'] == 'US']
kickstarter2.country.unique()

array(['united states', 'GB', 'CA', 'DK', 'NL', 'AU', 'NO', 'SE', 'NZ',
       'IE', 'DE', 'FR', 'ES', 'AT', 'BE', 'IT', 'CH', 'LU', 'SG', 'HK',
       'MX', 'JP'], dtype=object)

2. Data substitution.      
  In this data substitution I've decided to change currency USD to dollars and country US to united states. I find it more accurate that if we change these we can search for them easily and we can cateorise them easily.

In [15]:
bins = np.linspace(kickstarter.goal.min(),kickstarter.goal.max(),4)
bins

array([1.0000000e+00, 3.3333334e+07, 6.6666667e+07, 1.0000000e+08])

In [11]:
labels = ['small', 'medium', 'high']

In [12]:
kickstarter3=kickstarter
kickstarter3['bins'] = pd.cut(kickstarter3['goal'], bins=bins, labels=labels, include_lowest=True)

In [13]:
kickstarter3.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,bins
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,dollar,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00,1,small
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,3,small
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,dollar,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00,0,small
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,dollar,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00,0,small
4,1049544313,Balteus Belt,Apparel,Fashion,dollar,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00,1,small

In [16]:
buckets = [ 1.00000000e+00, 2.00000008e+07, 4.00000006e+07, 6.00000004e+07,
       8.00000002e+07, 1.00000000e+08 ]
bucketlabels = ['poor', 'low-wage-earners', 'middle-class', 'rich', 'super-rich']

kickstarter3['buckets'] = pd.cut(kickstarter3['goal'] , bins=buckets, labels=bucketlabels, include_lowest=True)

kickstarter3.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,bins,buckets
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,dollar,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00,1,small,poor
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,3,small,poor
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,dollar,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00,0,small,poor
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,dollar,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00,0,small,poor
4,1049544313,Balteus Belt,Apparel,Fashion,dollar,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00,1,small,poor

In [30]:
bins = np.linspace(kickstarter.goal.min(),kickstarter.goal.max(),4)
bins

array([1.0000000e+00, 3.3333334e+07, 6.6666667e+07, 1.0000000e+08])

In [26]:
labels = ['small', 'medium', 'high']

In [27]:
kickstarter3=kickstarter
kickstarter3['bins'] = pd.cut(kickstarter3['backers'], bins=bins, labels=labels, include_lowest=True)

In [28]:
kickstarter3.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,bins,buckets,country_num,category_num
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,dollar,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,united states,11880.18,11880.18,15000.00,failed,small,poor,21,71
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,successful,small,poor,9,40
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,dollar,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,united states,18087.00,18087.00,60000.00,canceled,small,poor,21,114
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,dollar,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,united states,9.00,9.00,20000.00,canceled,small,poor,21,148
4,1049544313,Balteus Belt,Apparel,Fashion,dollar,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,united states,1563.00,1563.00,8000.00,failed,small,poor,21,7

In [31]:
buckets = [ 1.00000000e+00, 2.00000008e+07, 4.00000006e+07, 6.00000004e+07,
       8.00000002e+07, 1.00000000e+08 ]
bucketlabels = ['poor', 'low-wage-earners', 'middle-class', 'rich', 'super-rich']

kickstarter3['buckets'] = pd.cut(kickstarter3['backers'] , bins=buckets, labels=bucketlabels, include_lowest=True)

kickstarter3.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,bins,buckets,country_num,category_num
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,dollar,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,united states,11880.18,11880.18,15000.00,failed,small,poor,21,71
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,successful,small,poor,9,40
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,dollar,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,united states,18087.00,18087.00,60000.00,canceled,small,poor,21,114
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,dollar,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,united states,9.00,9.00,20000.00,canceled,small,poor,21,148
4,1049544313,Balteus Belt,Apparel,Fashion,dollar,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,united states,1563.00,1563.00,8000.00,failed,small,poor,21,7

3.Data reduction.      
This is nothing but grouping the data into bins and buckets depending upon the replacing values. It also include dealing with the values that are missing,formatting,normalizing and standardization.

4. All the things that we have done above is used to categorise the data into easy datasets. The questions may rise on behalf of how easy the data can be analysed by a person. In the above program we have first used data transformation to transform the variables to numbers then, we have done data substitution by changing the variables and in the third section we have done data reduction in which we have used bins and buckets.